# Virtual Environments
.venv
venv
venv/

# Environment Variables
.env
.env.production

# Python Cache Files
__pycache__/
*.pyc

# Node Modules
node_modules

# IDE
.vscode
.idea
.DS_Store

# Builds
dist/
build/

# Text Files and WLK
*.csv
*.txt
!requirements-dev.txt
*.wlk

# Executables
*.exe

# Visualizations
backend/notebooks/visualizations/*/*.png

# Models
backend/notebooks/ml_models/*.pkl

# C Files
*.ilk
*.pdb
*.obj