POSTGRES_USER="user"
POSTGRES_PASSWORD="password"
POSTGRES_HOST="host"
POSTGRES_PORT="1234"
POSTGRES_DB="db_name"
FRONTEND_URL="http://website_url_here"
TABLE_CREATE_COLS="col1 TYPE, col2 TYPE,...,coln TYPE"
CSV_ORIGINAL_HEADERS="col1,col2,col3,...,coln"
EXPECTED_CSV_HEADERS="header1,header2,header3,...,headerN"