FRONTEND_URL="http://website_url_here"
DATABASE_URL="postgresql+psycopg://user:password@host:port/database"
TABLE_CREATE_COLS="col1 TYPE, col2 TYPE,...,coln TYPE"
CSV_ORIGINAL_HEADERS="col1,col2,col3,...,coln"
EXPECTED_CSV_HEADERS="header1,header2,header3,...,headerN"