.navbar-brand {
    text-shadow: 1px 2px 1px black;
}

.navbar-brand:hover {
    text-shadow: 3px 3px 3px black;
}

.nav-item {
    text-shadow: 1px 1px black;
}
.nav-item:hover {
    text-shadow: 2px 2px 1px black;
}
